<a href="https://colab.research.google.com/github/arbiyy/CheckPoint-1-Data-Gathering-Business-Understanding/blob/main/Cekpoin1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Cars Dataset

In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/Dataset AVD/used_cars_data.csv"
df = pd.read_csv(path)

df

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

### Bussiness Understanding

Pada tahap ini, kita melihat konteks industri otomotif. Dataset ini berisi informasi penting seperti merek, tahun, harga jual, harga baru, jarak tempuh (km), jenis bahan bakar, tipe penjual, transmisi, dan jumlah pemilik sebelumnya.

1. Masalah: Penentuan harga mobil bekas sangat subjektif. Dealer atau platform jual-beli sering kesulitan menentukan harga yang "pas"—tidak terlalu mahal agar cepat laku, tapi tidak terlalu murah agar tetap untung.

2. Konteks: Fluktuasi harga mobil bekas sangat dipengaruhi oleh depresiasi (penurunan nilai) berdasarkan usia dan pemakaian (jarak tempuh).

### Bussiness Objective

Deskripsi Dataset:
Dataset ini merupakan representasi pasar mobil bekas yang mencakup variabel kritis seperti Selling Price (harga jual saat ini), Present Price (harga baru dari pabrikan), Kms Driven (jarak tempuh), Fuel Type, Transmission, dan Owner (jumlah tangan sebelumnya). Data ini mencerminkan dinamika depresiasi kendaraan di pasar otomotif.

Tujuan Analisis Bisnis:

1. Optimalisasi Strategi Penetapan Harga (Dynamic Pricing): Membangun sistem estimasi harga otomatis agar dealer dapat memberikan penawaran beli/jual yang kompetitif namun tetap menjaga margin keuntungan.

2. Analisis Retensi Nilai (Asset Depreciation): Mengidentifikasi karakteristik mobil (seperti jenis bahan bakar atau transmisi) yang memiliki nilai jual kembali (resale value) paling stabil untuk dijadikan prioritas stok inventori.

3. Segmentasi Stok Berdasarkan Efisiensi: Menentukan kombinasi jarak tempuh dan usia kendaraan yang paling diminati pasar guna mempercepat perputaran unit (inventory turnover) dan mengurangi biaya penyimpanan di gudang.

4. Personalisasi Penawaran Pelanggan: Memberikan rekomendasi harga yang transparan kepada pelanggan berdasarkan perbandingan harga pasar, guna meningkatkan kepercayaan dan loyalitas konsumen.

### Asses Situation

Di sini kita membedah "kesehatan" dan kelengkapan data dari link Kaggle tersebut:

1. Ketersediaan Data: Dataset memiliki kolom kunci seperti Present_Price (harga baru) dan Selling_Price (harga jual). Ini sangat bagus untuk menghitung tingkat depresiasi.

2. Kekurangan/Risiko: Dataset ini mungkin tidak mencakup variabel eksternal seperti kondisi ekonomi negara, pajak kendaraan terbaru, atau kondisi fisik mendetail (misal: bekas banjir atau kecelakaan), yang sebenarnya sangat memengaruhi harga.

3. SDA (Sumber Daya): Memerlukan alat analisis data (seperti Python/R) untuk memproses ribuan baris data tersebut.

### Analytic  Goals Project Plan

Ini adalah langkah teknis untuk menjawab tujuan bisnis di atas.

1. Analytic Goal: * Membangun Model Prediksi (Regression) untuk memperkirakan Selling_Price berdasarkan variabel lainnya.

2. Mencari korelasi: Apakah mobil dengan transmisi Manual mengalami depresiasi lebih lambat dibandingkan Automatic pada dataset ini?

  Project Plan:

1. Data Cleaning: Mengecek apakah ada data kosong pada kolom Kms_Driven atau Owner.

2. Feature Engineering: Membuat kolom baru "Usia Mobil" (Tahun saat ini - Year) karena usia lebih mudah dianalisis daripada tahun kalender.

3. Exploratory Data Analysis (EDA): Membuat grafik hubungan antara Present_Price vs Selling_Price.

4. Modeling & Evaluation: Melatih model Machine Learning dan mengukur akurasinya menggunakan metrik R-Squared atau RMSE